.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 50px;
}

	.login-container h2 {
		margin-bottom: 20px;
	}

	.login-container form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-container label {
		margin-bottom: 10px;
	}

	.login-container input {
		padding: 10px;
		margin-bottom: 20px;
		width: 100%;
		border-radius: 5px;
		border: 1px solid #ccc;
	}

	.login-container button {
		padding: 10px;
		width: 100%;
		border-radius: 5px;
		border: none;
		background-color: #4CAF50;
		color: white;
		font-weight: bold;
	}

		.login-container button:hover {
			background-color: #3e8e41;
		}
